@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header-desktop {
  display: none;
}

header {
  background-color: #22a6b3;
  color: white;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 20px;
  font-size: 20px;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 20px;
}

main {
  width: 90%;
  max-width: 600px;
  margin-top: 1em;
}

.add-course {
  background: white;
  border: 2px solid #22a6b3;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2em 0em;
}

.add-course-content {
  text-align: center;
}

.add-icon {
  border: none;
  background: none;
  font-size: 2em;
  color: #22a6b3;
}

.add-course p {
  color: #22a6b3;
  margin-top: 0.5em;
  font-size: 20px;
}

section {
  background: white;
  border-radius: 10px;
  padding: 1em 0em;
  margin-bottom: 1em;
}

section h2 {
  margin-top: 0;
}

.course,
.course-item {
  background: #22a6b3;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 0.5em;
}

.course p {
  font-weight: 600;
  margin: 0;
}

.details-button {
  background: white;
  color: #22a6b3;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.details-button:hover {
  background: #00796b;
  color: white;
}

/* Styles pour le menu burger */
.sidebar {
  position: fixed;
  top: 0;
  left: -450px;
  width: 95%;
  height: 100%;
  background-color: #22a6b3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar h1 {
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 20px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  color: #ecf0f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1c40f;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar.open {
  left: 0;
}

/*  */
.filter-title {
  font-size: 18px;
}
input#filterDate {
  width: 80%;
  border: 2px solid #22a6b3;
  padding: 5px 10px;
}

button#filterButton {
  background: #22a6b3;
  color: white;
  border: none;
  padding: 8px;
}

/* === Style modal === */

/* modal-header background */
.modal-header {
  background-color: none;
  color: #000;
}

/* modal-title style */
.modal-title {
  font-size: 20px;
  font-weight: bold;
}

/* modal-body background */
.modal-body {
  background-color: #fff;
}

.modal-body form input {
  border: 1px solid #22a6b3;
}

/* form-label style */
.form-label {
  color: #000;
  font-weight: bold;
}

/* submit button style */
.btn.btn-primary {
  background-color: #22a6b3;
  border-color: #22a6b3;
  color: #fff;
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: #00796b;
}

/*=== Page detail ===*/
.btn-ajout-detail {
  border: 1px solid #22a6b3;
  padding: 0.7em 1em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-ajout-detail p {
  font-weight: 600;
  margin-bottom: 0;
}

.btn-ajout-detail button {
  display: flex;
}

#products-section h2 {
  font-size: 22px;
}

/* DETAIL PRODUIT */
.product {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .acheter {
  background: #e8f5eb;
  color: #1d9e33;
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
}

.product .pas-acheter {
  background: #f8eedd;
  color: #eaa221;
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
}

.product.green-border {
  border-color: #1d9e33;
}
.product.yellow-border {
  border-color: #eaa221;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 25px;
}

.actions div {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}

.actions button {
  margin-right: 5px;
  background: none;
  border: none;
}

.actions .modifier img {
  width: 2.2em;
  height: 2.2em;
  background: #7ddbe4;
  padding: 5px;
  border-radius: 5px;
}

.actions .supprimer img {
  width: 2.2em;
  height: 2.2em;
  background: rgb(242, 144, 144);
  padding: 5px;
  border-radius: 5px;
}

/* === Responsive Desktop === */
/* @media (max-width: 1023px) {
  .header-mobile {
      display: block;
  }
  #sidebar-desktop {
      display: none;
  }
  #sidebar-mobile {
      display: block;
  }
} */


@media screen and (min-width: 1000px) {
  /* Styles pour le menu burger */
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
  }
  #sidebar-desktop {
      display: block;
  }
  #mobile-sidebar {
      display: none;
  }
  .header-desktop {
    font-family: "Montserrat Alternates", sans-serif;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header h1 {
    text-align: center;
    font-size: 18px;
    margin: 0;
    font-weight: 900;
  }
  header .menu-button {
    display: none;
  }
  .deconnexion {
    display: flex;
    align-items: center;
  }
  .deconnexion a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    transition: 0.3s;
  }
  .sidebar {
    position: relative;
    top: 0;
    left: 0px;
    width: 70%;
    height: auto;
    background-color: none;
    padding-top: 0px;
    display: flex;
    justify-content: center;
  }

  .sidebar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .sidebar ul li.logout-item {
    margin-left: auto;
  }

  .sidebar button,
  .sidebar h1 {
    display: none;
  }
}
