@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

header {
  background-color: #22A6B3;
  color: white;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 20px;
  font-size: 20px;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 20px;
}

main {
  width: 90%;
  max-width: 600px;
  margin-top: 1em;
}

.add-course {
  background: white;
  border: 1px solid #22A6B3;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.add-course-content {
  text-align: center;
}

.add-icon {
  border: none;
  background: none;
  font-size: 2em;
  color: #22A6B3;
}

.add-course p {
  color: #22A6B3;
  margin-top: 0.5em;
}

section {
  background: white;
  border-radius: 10px;
  padding: 1em 0em;
  margin-bottom: 1em;
}

section h2 {
  margin-top: 0;
}

.course {
  background: #22A6B3;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 0.5em;
}

.course p {
  font-weight: 600;
}

.details-button {
  background: white;
  color: #22A6B3;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.details-button:hover {
  background: #00796b;
  color: white;
}

/* Styles pour le menu burger */
.sidebar {
  position: fixed;
  top: 0;
  left: -450px;
  width: 95%;
  height: 100%;
  background-color: #22A6B3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar h1 {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 20px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  color: #ecf0f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1c40f;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar.open {
  left: 0;
}

/* === Style modal === */

/* modal-header background */
.modal-header  {
  background-color: none;
  color: #000;
}

/* modal-title style */
.modal-title {
  font-size: 20px;
  font-weight: bold;
}

/* modal-body background */
.modal-body {
  background-color: #fff;
}

.modal-body form input {
  border: 1px solid #22A6B3;
}

/* form-label style */
.form-label {
  color: #000;
  font-weight: bold;
}

/* submit button style */
.btn.btn-primary {
  background-color: #22A6B3;
  border-color: #22A6B3;
  color: #fff;
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: #00796b;
}
